.friendList {
  padding: 0;
  display: flex;

}

.online {
  color: green;
}

.offline {
  color: red;
}

.listItem {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}